.btn {
  display: inline-block;
  background-color: #f4e331;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  border-radius: 300px;
  color: #314360;
  padding: 22px 36px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  transition: background-color .1s linear, color .1s linear;

  &:hover {
    background-color: #314360;
    color: #f4e331;

    img {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: inline-block;
      }
    }
  }

  img {
    width: 28px;
    margin-left: 15px;
    vertical-align: middle;

    &:last-child {
      display: none;
    }

    @media (max-width: $media-lg) {
      width: 24px;
    }

    @media (max-width: $media-md) {
      width: 22px;
    }

    @media (max-width: $media-sm) {
      width: 16px;
      margin-left: 10px;
    }
  }

  @media (max-width: $media-lg) {
    padding: 16px 30px;
  }

  @media (max-width: $media-md) {
    padding: 16px 28px;
  }

  @media (max-width: $media-sm) {
    padding: 10px 20px;
  }
}